trigger:
- main
  
pool:
  vmImage: 'ubuntu-latest'

name: Deploy Bicep files

variables:
  resourceGroupName: 'RG_PRBS_CCVP'
  location: 'eastus'

steps:
- task: AzureCLI@2
  displayName: 'Compile Bicep file'
  inputs:
    scriptType: 'bash'
    subscriptionId: 'ecf34c89-97c5-4dcd-8d53-4565afc7770a'
    resourceGroupName: 'RG_PRBS_CCVP'
    scriptLocation: inlineScript
    inlineScript: |
      az account set --subscription ecf34c89-97c5-4dcd-8d53-4565afc7770a
      az configure --defaults group=RG_PRBS_CCVP
      az group deployment create --resource-group RG_PRBS_CCVP --template-file main.bicep --parameters main.parameters.dev.json


  