trigger:
- master
  
pool:
  vmImage: 'ubuntu-latest'

name: Deploy Bicep files

variables:
  resourceGroupName: 'RG_PRBS_CCVP'
  location: 'eastus'

steps:
  displayName: 'Compile Bicep file'
  inputs:
    deploymentMode: 'Incremental'
    deploymentScope: 'Resource Group'
    subscriptionId: 'ecf34c89-97c5-4dcd-8d53-4565afc7770a'
    resourceGroupName: 'RG_PRBS_CCVP'
    scriptLocation: inlineScript
    inlineScript: |
      az --version
      az group create --name $(resourceGroupName) --location $(location) az deployment group create --template-file main.bicep --parameters main.parameters.dev.json --resource-group $(ResourceGroupName) 
 

  